.messagesDiv {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  margin: 2rem 1rem;
  padding: 1rem;
}

.messagesH {
  width: 100%;
  margin-bottom: 40px;
}

.messagesTitle {
  font-size: 20px;
  font-weight: bold;
  float: left;
  width: 90%;
}

.clear {
  font-size: 20px;
  font-weight: bold;
  float: right;
}
