.product-card.one {
  flex-direction: unset;
  margin-top: 10px;
  cursor: unset;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-details {
  padding-left: 10px;
}

.product-details span {
  display: block;
  margin-top: 20px;
}

.product-details span:first-of-type {
  margin-top: 300px;
}
.product-card button {
  height: 30px;
  margin-top: auto;
  cursor: pointer;
}

.backBtn {
  padding: 2px;
  width: 50px;
  font-size: 14px;
  background: #77818a;
  color: white;
  border: 1px solid #6a7279;
  border-radius: 3px;
  float: right;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(37, 37, 94);
  font-weight: bold;
}
